.products-page {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  &__button {
    &--create-product {
      width: 300px;
      margin: 20px 15px;
    }
  }
}
