.product-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__text-group {
    display: flex;
    width: 100%;
  }
  &__text-field {
    display: flex;
    width: 100%;
    margin: 15px 15px 15px 0px
  }
}