.user-menu {
  display: flex;
  align-self: center;
  align-items: center;
  justify-self: flex-end;
  justify-content: center;

  &__name {
    font-weight: bold;
    font-size: 12px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 5px;
  }
}
